<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Speech recognizer</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Speech Recognizer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    </div>
  </nav>


  <form action = "http://localhost:5000/speech" method = "post">
    <div class="form-group">
      <label for="exampleInputEmail1">Url </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter url" name="url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



<!--

    <form action = "http://localhost:5000/speech" method = "post">
         <table>
        <tr><td>Url: </td>
        <td><input type ="text" name ="url"></td></tr>
        <tr><td><input type = "submit"></td></tr>
    </table>
      </form> -->
  </body>
</html>
